{% extends "layout.html" %}

{% block body %}

    <main id="doctor_appointment">

        <h1>Here's Your Appointments, {{ doc_name }}</h1>

            <input type="hidden" name="Operation" id="Operation" value="cancel">
        <table>
            <tr>
                <th>Time</th><th>Patient ID</th><th>Patient Name</th><th>Symptoms</th><th></th> 
            </tr>

            {% for entry in entries %}
                <tr>
                    {{ entry | safe }}
                    <td>
                        <form action="{% url 'doctor' %}"  method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="Operation" id="Operation" value="cancel">
                            <input type="hidden" name="A_no" id="A_no" value="{{ forloop.counter }}">
                            <input type="submit" value="Cancel">
                        </form>
                    </td>
                </tr>
            {% endfor %}

        </table>

{% endblock %}



